i{display:inline-block;background-image: url("../img/sprite.png");}
.icon-adress_bg {
    background-image: url("../img/sprite.png");
    background-position: 0 -590px;
    width: 400px;
    height: 200px;
}
.icon-ahover {
  
}
.icon-button1 {
   background-image: url("../img/sprite.png");
    background-position: 0 -206px;
    width: 39px;
    height: 23px;
    &:active{
        background-image: url("../img/sprite.png");
    }
}
.icon-button10 {
    background-image: url("../img/sprite.png");
    background-position: 0 -416px;
    width: 140px;
    height: 30px;
    line-height: 30px;
        margin: 25px 0 20px 108px;
     &:active{
        background-image: url("../img/sprite.png");
    }
}
.icon-button11 {
    background-image: url("../img/sprite.png");
    background-position: 0 -385px;
    width: 83px;
    height: 30px;
     &:active{
        background-image: url("../img/sprite.png");
    }
}
.icon-button12 {
    background-image: url("../img/sprite.png");
    background-position: 0 -354px;
    width: 300px;
    height: 30px;
     &:active{
        background-image: url("../img/sprite.png");
    }
}
.icon-button2 {
    background-image: url("../img/sprite.png");
    background-position: 0 -137px;
    width: 43px;
    height: 24px;
    line-height: 24px;
    color: #333;
    &:hover{color: #333;}
&:active{color: #333;background-image: url("../img/sprite.png");}
&:focus{color: #333;box-shadow: none;}
}
.icon-button3 {
    background-image: url("../img/sprite.png");
    background-position: 0 -447px;
    width: 120px;
    height: 40px;line-height: 40px;
    margin-top: 14px;
     &:active{
        background-image: url("../img/sprite.png");
    }
}
.icon-button4 {
    background-image: url("../img/sprite.png");
    background-position: 0 -292px;
    width: 80px;line-height: 30px;    margin: 25px 0 20px 108px;
    height: 30px; &:active{
        background-image: url("../img/sprite.png");
        
    }
}
.icon-button5 {
    background-image: url("../img/sprite.png");
    background-position: 0 -116px;
    width: 50px;
    height: 20px;
    line-height: 20px;
    color: #000000;
    font-size: 12px;
    background-color: #f1f1f1;
}
.icon-button6 {
    background-image: url("../img/sprite.png");
    background-position: 0 -183px;
    width: 59px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    margin: 0 auto;
    color: #fff;
    line-height: 22px;
}
.icon-button7 {
    background-image: url("../img/sprite.png");
    background-position: 0 -160px;
    width: 63px;
    height: 23px;
    line-height: 22px;
    cursor: pointer;
    color: #333;
     &:hover,&:active,&focus{
        background-image: url("../img/sprite.png");
         color: #333;
    }
}
.icon-button8 {
    background-image: url("../img/sprite.png");
    background-position: 0 -323px;
    width: 80px;
    height: 30px;
    line-height: 30px; &:active{
        background-image: url("../img/sprite.png");
    }
}
.icon-button8_ac {
    background-image: url("../img/sprite.png");
    background-position: 0 -230px;
    width: 80px;
    height: 30px;
    line-height: 30px;
}
.icon-button9 {
    background-image: url("../img/sprite.png");
    background-position: 0 -261px;
    width: 80px;
    height: 30px;
    line-height: 30px; &:active{
        background-image: url("../img/sprite.png");
    }
}
.icon-del {
    background-image: url("../img/sprite.png");
    background-position: 0 0;
    width: 16px;
    height: 16px;cursor: pointer;margin-right: 19px;
        margin-top: 2px;
}
.icon-gou-green {
    background-image: url("../img/sprite.png");
    background-position: 0 -539px;
    width: 50px;
    height: 50px;
    position: absolute;right: 0;bottom: 0;
}
.icon-moren {
    background-image: url("../img/sprite.png");
    background-position: 0 -95px;
    width: 80px;
    height: 20px;
}
.icon-pagel {
    background-image: url("../img/sprite.png");
    background-position: 0 -35px;
    width: 10px;
    height: 17px;
}
.icon-pager {
    background-image: url("../img/sprite.png");
    background-position: 0 -17px;
    width: 10px;
    height: 17px;
}
.icon-rjian {
    background-image: url("../img/sprite.png");
    background-position: 0 -74px;
    width: 20px;
    height: 20px;
}
.icon-upjian {
    background-image: url("../img/sprite.png");
    background-position: 0 -53px;
    width: 20px;
    height: 20px;
}
.icon-yeji {
    background-image: url("../img/sprite.png");
    background-position: 0 -791px;
    width: 192px;
    height: 220px;
}