.yue_list ul {
    padding-top: 20px;
    padding-left: 215px
}

.yue_list ul.no_pl {
    padding-left: 39px
}

.yue_list li {
    margin-bottom: 38px;
    display: inline-block;
    text-align: left;
    border-left: 3px solid #c7dc68;
    padding: 2px 0 0 9px;
    width: 135px;
    height: 58px
}

.yue_list .b1 {
    border-color: #c39143
}

.yue_list .b2 {
    border-color: #ee827c
}

.yue_list .b3 {
    border-color: #80989b
}

.yue_list .b4 {
    border-color: #38b48b
}

.yue_list .b5 {
    border-color: #bc64a4
}

.yue_list .b6 {
    border-color: #b48a76
}

.yue_list .b7 {
    border-color: #fcd575
}

.yue_list .b8 {
    border-color: #cd5e3c
}

.yue_list .b9 {
    border-color: #69b076
}

.yue_list .content {
    font-size: 18px;
    font-weight: 800;
    margin-top: 3px;
}

.yue_list .name {
    font-size: 12px
}